<html>
   <head>
      <title>Тиуння</title>
      <%= javascript_pack_tag 'tiunnja' %>
      <%= stylesheet_pack_tag 'tiunnja' %>
      <%= csrf_meta_tags %>
   <body>
      <%= yield %>
   </body>
</html>
